
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5px 5px 5px 5px;
    gap: 15px;
    text-align: left;
}
p {
    padding: 10px;
    color: white;
}
.klasaA {
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.klasaB {
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.klasaC {
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.klasaD {
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}
.klasaE {
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(5, 5, 5);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.jedan {
    border-radius: 7px;
    background-color: rgb(109, 109, 109);
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}
.dva {
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.tri {
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}
.cetiri {
    border-radius: 7px;
    background-color: rgb(109, 109, 109);
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
.prva {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.druga {
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.treca {
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}
.cetvrta {
    border-radius: 7px;
    background-color: rgb(160, 160, 160);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}
.peta {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
.klasajean {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.klasadva {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.klasatri {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}
.containerdva {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}
.glavna {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.klasacetri {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}
.klasapet {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.klasasest {
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}